/* pc */
@media (min-width:1024px) {}

/* taplet */
@media (min-width:740px) and(max-width:1024px) {
    #header .menu {
        position: absolute;
        display : block;
        top     : 0;
        right   : 0;
    }
}

/* moble */
@media(max-width:740px) {
    #header {
        width: 100vw;
    }

    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }
    #nav li:first-child{
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu {
        position: absolute;
        display : block;
        top     : 0;
        right   : 0;
    }
    #slider .text-content{
        font-size: 15px;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    .places-list  .place-item{
        width: 100%;
        margin-top: 16px;
    }
    #content .content-section .contact-info {
        width: 100%;
    }
    .contrac-form{
        margin-top: 12px;
        width: 100%;
    }
   .form-item{
       display: block;
       float: none;
       width: 100%;
   } 
   .map-section{
       overflow: hidden;
       height: 233px;
   }
   
}